#list li{
  font color: white;
  width: auto;
  display: inline;
  font-size: 15px;
  margin-left: 7%;
  margin-right: 7%;
  font-weight: bold;
  font-family: 'Slabo 27px', serif;
  background-color: red;
}
