.col-md-1 {
  border-left: 1px solid black;
  border-right: 1px solid black;
  height: 1080px;
}

#list li{
  color: red;
  display: inline;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Slabo 27px', serif;
  padding: 5px;
}

h1 {
  color: red;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Unkempt', cursive;
  margin-left: 20%;
  margin-right: 20%;
}

h2 {
  color: red;
  font-size: 50px;
  font-weight: bold;
  font-family: 'Unkempt', cursive;
  margin-left: 30%;
  margin-right: 30%;
}

h3 {
  font-family: 'Slabo 27px', serif;
  font-size: 15px;
  color: red;
}

h4 {
  font-family: 'Slabo 27px', serif;
  font-size: 21px;
  font-weight: bold;
  color: green;
}

a:link{
  color: green;
}

a:hover{
  color: red;
}

a:visited {
  color: green;
}
