.col-md-1 {
  border-left: 1px solid black;
  border-right: 1px solid black;
  height: 1080px;
}

#list li{
  color: red;
  display: inline;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Slabo 27px', serif;
  padding: 5px;
}

h1 {
  color: red;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Unkempt', cursive;
}

h2 {
  color: red;
  font-size: 55px;
  font-weight: bold;
  font-family: 'Unkempt', cursive;
  margin-left: 50%;
}

h3 {
  font-family: 'Slabo 27px', serif;
  font-size: 12px;
}

a:link{
  color: red;
}
