.col-md-1 {
  border-left: 1px solid black;
  border-right: 1px solid black;
  height: 1080px;
}

#list li{
  color: red;
  display: inline;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Slabo 27px', serif;
  padding: 5px;
}

h1 {
  color: red;
  font-size: 25px;
  font-weight: bold;
  font-family: 'Unkempt', cursive;
}

h2 {
  color: red;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Unkempt', cursive;
}

#image {
  border: 2px dashed red;
}

p {
  font-family: 'Slabo 27px', serif;
}

a {
  color: red;
}
