.col-md-1 {
  border-left: 1px solid black;
  border-right: 1px solid black;
  height: 1080px;
}

#list li{
  color: red;
  border: 2px dashed red;
  display: inline;
  font-size: 30px;
  font-weight: bold;
}

h1 {
  color: red;
  font-size: 25px;
  font-weight: bold;
}
