.col-md-1 {
  border-left: 1px solid black;
  border-right: 1px solid black;
  height: 1080px;
}

#list li{
  font color: red;
  href color: red;
  width: auto;
  display: inline;
  font-size: 30px;
  font-weight: bold;
}
