<!DOCTYPE html>
<html>
<head>
  <title>{{ page.title }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/style.css">
<link href='https://fonts.googleapis.com/css?family=Unkempt' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Slabo+27px' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="container">
<div class="row">
  <div class="col-md-6">
<h2> {{ page.title }} </h2>
</div>
</div>

<div class="row">
  <nav>
<ul id="list">
  <li><a href="index.html">Home</a></li>
  <li><a href="calendar.html">Calendar</a></li>
  <li><a href="important_people.html">Important People</a></li>
  <li><a href="history.html">Christmas Tidings</a></li>
</ul id="list">
  </nav>
</div>

<div class="row">
  <div class="col-md-4">
    {{ content }}
  </div>
</div>

</div>
</body>
</html>
